/* CSS by Natalie Restrepo */
/* Color Palette
olive green=#59512A
beige=#BFB49F
tan=#8C7C69
off-white=#F2EADF
brown=#403226
*/

/* GLOBAL STYLES (MOBILE FIRST) */
body {
    display:grid;
    grid-template-columns: 1fr;
    background-color:#BFB49F;
}
header, footer {
    grid-column:1/3;
    Background-color:#F2EADF;
    color:#59512A;
}
nav {
    grid-column:1/3;
}
nav ul {
    display:flex;
    justify-content:space-evenly;
    list-style:none;
}
nav a {
    text-decoration:none;
    background-color:#403226;
    padding:1rem 2rem; 
    color:#F2EADF;
    font-size:1.1rem;
    text-transform:lowercase;
}
nav a:hover {
    background-color:#F2EADF;
    color:#403226;
}

@media screen and (max-width:500px) { 
    body {
    grid-template-columns: 1fr 1fr;
    }
nav a {
    text-decoration:none;
    background-color:#F2EADF;
    padding:1rem 2rem; 
    color:#59512A;
    text-transform:lowercase;
}
nav a:hover {
    background-color:#F2EADF;
    color:#59512A;
}
header, footer {
    Background-color:#403226;
    color:#F2EADF;
}
}